body {
    height: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: rgb(79, 152, 170);
}

#allcontent {
    margin-top: -15px;
    max-width: 480px;
    overflow-x: hidden;
    font-size: 105%;
}

#home {
    max-width: 470px;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#brown {
    display: inline;
    margin-top: 15px;
    font-weight: bold;
    font-size: 90%;
    margin-left: 15px;
    text-align: center;
    color: #0000EE;
}

#first {
    margin-top: 20px;
    margin-left: 1px;
}

p {
    line-height: 1.5em;
    text-align: center;
    margin-top: 70px;
    font-size: 90%;
}

#me {
    display: inline;
    font-size: 90%;
    margin-right: 330px;
}

#two {
    display: inline;
    text-align: center;
    margin-left: 50px;
}

#int {
    line-height: -4em;
}

#three {
    margin-top: -0.1px;
    font-size: xx-large;
    margin-right: 350px;
}

#qwe {
    text-align: left;
    margin-right: 120px;
    margin-top: -5px;
    font-weight: bold;
    line-height: 1.5em;
}

hr {
    width: 470px;
    margin-right: 320px;
}

#jsx {
    font-weight: bold;
    margin-left: -28px;
}

#videos {
    line-height: 4em;
    margin-top: 20px;
    margin-left: 90px;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    height: 50px;
    color: rgba(255, 255, 255, 0.61);
    min-width: 450px;
    font-size: 70%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.808);
    margin-top: 40px;
}

#images {
    margin-top: -45px;
}

.parent {
    margin-left: 25px;
}

#last {
    display: grid;
    grid-template-columns: 120%;
    font-size: 90%;
    margin-left: -20px;
}

.right {
    margin-left: 1px;
}

.vid {
    margin-left: -45px;
    width: 400px;
    height: 220px;
}

#otzyv {
    margin-left: 14px;
    font-size: 125%;
}

.inftwo {
    margin-left: -30px;
}

#inf {
    width: 300px;
    font-size: 95%;
    display: grid;
    margin-left: 10px;
    grid-template-columns: 150%;
}

.zagolov {
    margin-left: 120px;
}

#ura {
    margin-left: 10px;
    text-align: center; line-height: 1.5em;
}

#copy {
    margin-top: 35px;
    user-select: none;
    font-size: 90%;
}

.logos {
    width: 20px;
}