body {
    padding-top: -5px;
    height: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: rgb(79, 152, 170);
}

#allcontent {
    margin-top: -15px;
    width: 300px;
    overflow-x: hidden;
    font-size: 140%;
    /*font-size: calc(16px + 16 * ((100vw - 320px) / (1280 - 320)));*/
}

#home {
    max-width: 290px;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#brown {
    display: inline;
    margin-top: 15px;
    font-weight: bold;
    font-size: 85%;
    margin-left: 15px;
    text-align: center;
    /*color: #1a0ec0;*/
    color: #0000EE;
}

#first {
    margin-top: 20px;
    margin-left: 1px;
}

p {
    line-height: 1.5em;
    text-align: center;
    margin-top: 70px;
    font-size: 90%;
}

#me {
    display: inline;
    font-size: 90%;
    margin-right: 330px;
}

#two {
    display: inline;
    text-align: center;
    margin-left: 50px;
}

#int {
    line-height: -4em;
}

#three {
    margin-top: -0.1px;
    font-size: xx-large;
    margin-right: 350px;
}

#qwe {
    text-align: left;
    margin-right: 120px;
    margin-top: -5px;
    font-weight: bold;
    line-height: 1.5em;
}

hr {
    width: 290px;
    margin-right: 320px;
}

#jsx {
    font-weight: bold;
    margin-left: -28px;
}

#videos {
    line-height: 4em;
    margin-top: 20px;
    margin-left: 1px;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    height: 60px;
    color: rgba(255, 255, 255, 0.61);
    max-width: 270px;
    font-size: 60%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.808);
    margin-top: 40px;
}

#images {
    margin-top: -45px;
}

.parent {
    margin-left: 25px;
}

#last {
    display: grid;
    grid-template-columns: 145%;
}

.right {
    margin-left: 1px;
}

.vid {
    margin-left: 5px;
    width: 280px;
    height: 150px;
}

#otzyv {
    margin-left: -3px;
    font-size: 123%;
}

.inftwo {
    margin-left: -30px;
}

#inf {
    width: 300px;
    display: grid;
    margin-left: 10px;
    grid-template-columns: 95%;
}

.zagolov {
    margin-left: 30px;
}

/*button*/
.but {
    user-select: none;
    text-decoration: none;
    color: #fff;
    margin-top: -10px;
    margin-left: 60px;
    padding: 15px;
    width: 90px;
    border-radius: 25px;
    border: white 2px solid;
    background-color: rgb(11, 175, 25);
    font-size: 105%;
    font-weight: bold;
    transition: color 0.3s, border 0.3s, background-color 0.3s ease-out;
}

.but:hover, .but:active {
    user-select: none;
    color: rgb(11, 175, 25);
    border: rgb(11, 175, 25) 2px solid;
    background-color: #fff;
    transition: color 0.3s, border 0.3s, background-color 0.3s ease-in;
}

.telephone {
    font-size: 145%;
    margin-left: 15px;
    margin-top: 40px;
}

#telephon {
    font-size: 145%;
    margin-left: 15px;
    margin-top: 40px;
}

#ura {
    margin-left: 10px;
    text-align: center; line-height: 1.5em;
}

#copy {
    margin-top: 35px;
    user-select: none;
    font-size: 80%;
}

.logos {
    width: 20px;
}